* {
	padding:0px;
	margin: 0px;
}
body {
	background: #000;
}
canvas {
	background:transparent;
	position:  absolute;
	top: 0px;
	left:0px;
}
#canvases {
	position: relative;
}
#canvas1 {
	/*map bottom left*/
	background: #011;/*dark BlueGreen*/
}
